<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-body">
      <div class="modal-header border-0">
        <h5 class="modal-title">Search</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="searchInput" class="form-control form-control-lg" placeholder="Search books, articles, pages..." autofocus>
        <div id="searchResults" class="mt-4"></div>
      </div>
    </div>
  </div>
</div>